h3 {
    position: absolute;

}
button {
   
    background-color: white; 
    color: black; 
    border: 2px solid yellow;
    border-radius: 12px;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button:hover {
    background-color: yellow;
}
button:active {
    background-color: skyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}